.Container__Content--Progress--Details {
  height: auto;
  padding: 15px 20px 20px 20px;
  background: var(--White);
  border-radius: var(--BorderRadius);

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Container__Content--Progress--Details--Title {
  font-size: var(--H3);
  color: var(--StrongPurple);
  font-weight: 800;
  transform-origin: left;

  animation: loadingDetailsTitle 1s forwards;
}
@keyframes loadingDetailsTitle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
