/*
***********************************
TO FIND THE STYLES QUICKLY, PRESS CTRL + F 
AND TYPE THE FOLLOWING:

(FOR MAIN CONTAINER COMPONENT)
  MAIN COMPONENT
(FOR COMPONENT STYLES)
  <NameComponent>
(FOR ANIMATIONS STYLES)
  ANIMATIONS
(FOR RESPONSIVE DESIGN)
  RESPONSIVE

***********************************
*/

/*
***********************************
START STYLES FOR
MAIN COMPONENT
***********************************
*/
.Container__Login {
  grid-column: span 4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Container__Login--Box {
  position: relative;
  width: 500px;
  height: auto;
  padding: 40px 20px 20px 20px;

  background-color: var(--White);
  box-shadow: var(--BoxShadow);

  display: flex;
  flex-direction: column;
  gap: 20px;

  animation: loadingContainerLogin 0.5s;
}
/*
***********************************
START STYLES FOR 
<Loader>
***********************************
*/
.Container__Login__Content--Loader {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0;

  animation: loadLoader 1s forwards;
}
.Container__Login__Content--Loader--Text {
  color: var(--White);
  font-size: var(--H2);
  text-align: center;
  font-weight: 800;
}
.Loader {
  width: calc(6 * 30px);
  height: 50px;
  display: flex;
  color: var(--White);
  filter: drop-shadow(30px 25px 0 currentColor)
    drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
  clip-path: inset(0 100% 0 0);
  animation: l12 2s infinite steps(7);
}
.Loader:before {
  content: "";
  width: 30px;
  height: 25px;
  --c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
  background: var(--c) left / 70% 70%, var(--c) right/20% 20%,
    var(--c) top 0 right 15%/20% 20%, var(--c) bottom 0 right 15%/20% 20%;
}
@keyframes l12 {
  100% {
    clip-path: inset(0 -30px 0 0);
  }
}
/*
***********************************
START STYLES FOR 
<button> HELP
***********************************
*/

.Container__Login--Help {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: var(--StrongPurple);
  border: none;
  cursor: pointer;
  color: var(--White);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 700;
}

/*
***********************************
START STYLES FOR 
COMPONENT <LoginContent> 
***********************************
*/

.Container__Login__Content--Header {
  color: var(--StrongPurple);
  font-size: var(--H2);
  text-align: center;
  font-weight: 800;
}
.Container__Login__Content--Profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Container__Login__Content--Profile--Image {
  width: 100px;
  height: 100px;
  padding: 10px;

  border-radius: 50%;
  border: 5px solid var(--StrongPurple);
  background-image: var(--LinearGradient);

  display: grid;
  place-items: center;
}
.Container__Login__Content--Profile--Image img {
  width: 90%;
  height: 90%;
}
.Container__Login__Content--Profile--Back,
.Container__Login__Content--Profile--Next {
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;

  display: grid;
  place-content: center;
}
.Container__Login__Content--Profile--Back ion-icon,
.Container__Login__Content--Profile--Next ion-icon {
  color: var(--StrongPurple);
}
.Container__Login__Content--User {
  color: var(--StrongPurple);
  font-size: var(--H3);
  font-weight: 600;
}
.Container__InputsText {
  color: var(--StrongPurple);
  height: 55px;
  padding: 10px;

  border: none;
  background: var(--WeakPurple);
  border-bottom: 1px solid var(--StrongPurple);
  border-radius: var(--BorderRadiusInputs);

  transition: 0.5s ease all;
}
.Container__InputsText::-webkit-input-placeholder {
  color: var(--StrongPurple);
}
.Container__InputsText::-moz-placeholder {
  color: var(--StrongPurple);
}
.Container__InputsText:-ms-input-placeholder {
  color: var(--StrongPurple);
}
.Container__InputsText::-ms-input-placeholder {
  color: var(--StrongPurple);
}
.Container__InputsText::placeholder {
  color: var(--StrongPurple);
}
.Container__InputsText.Wrong {
  color: var(--StrongRed);
  background: var(--WeakRed);
  border-color: var(--StrongRed);
}
.Container__InputsText.Wrong::-webkit-input-placeholder {
  color: var(--StrongRed);
}
.Container__InputsText.Wrong::-moz-placeholder {
  color: var(--StrongRed);
}
.Container__InputsText.Wrong:-ms-input-placeholder {
  color: var(--StrongRed);
}
.Container__InputsText.Wrong::-ms-input-placeholder {
  color: var(--StrongRed);
}
.Container__InputsText.Wrong::placeholder {
  color: var(--StrongRed);
}
.Container__Buttons {
  height: 55px;
  padding: 0 25px;
  background-color: var(--StrongPurple);
  border: 2px solid var(--StrongPurple);
  color: var(--White);
  border-radius: var(--BorderRadiusInputs);
  font-weight: 600;

  transition: 0.5s ease background-color, color;
}
.Container__Buttons:hover {
  cursor: pointer;
  color: var(--StrongPurple);
  background-color: var(--WeakPurple);
}
.Container__Login__Content--Continue {
  text-align: right;
}

/*
***********************************
START STYLES FOR 
COMPONENT <LoginDetails> 
***********************************
*/

.Container__Login__Details {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--White);
  padding: 40px 20px 20px 20px;
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  transition: 0.5s ease-in-out;
}
.Container__Login__Details.Show {
  left: 0;
  opacity: 1;
}
.Container__Login__Details--Title {
  color: var(--White);
  font-size: var(--H2);
  text-align: center;
  font-weight: 800;
  transition: 0.5s ease color;
}
.Container__Login__Details.Show .Container__Login__Details--Title {
  color: var(--StrongPurple);
}
.Container__Login__Details--Details {
  color: var(--White);
  text-align: center;
  transition: 0.5s ease color;
}
.Container__Login__Details.Show .Container__Login__Details--Details {
  color: var(--StrongPurple);
}

/*
***********************************
START ANIMATIONS
***********************************
*/

@keyframes loadingContainerLogin {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes loadLoader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
***********************************
START RESPONSIVE DESIGN
***********************************
*/
@media (width <= 500px) {
  .Container__Login--Box {
    box-shadow: none;
  }
  .Container__Login__Content--Loader--Text {
    color: var(--StrongPurple);
  }
  .Loader {
    color: var(--StrongPurple);
  }
}
@media (width <=330px) {
  .Container__Login__Modal--Title {
    font-size: var(--Normal);
  }
  .Container__Login__Modal--Details {
    font-size: 14px;
  }
}
