.Container__Content {
  position: relative;
  width: 1440px;
  min-height: 100vh;
  height: auto;
  background-color: var(--WeakPurple);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.Container__Content--Game {
  grid-column: span 3;
  padding: 10px;
}
.Container__Content--Information {
  padding: 10px;
  grid-column: span 1;
  min-width: 360px;
  height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
