/*
***********************************
TO FIND THE STYLES QUICKLY, PRESS CTRL + F 
AND TYPE THE FOLLOWING:

(FOR MAIN CONTAINER COMPONENT)
  MAIN COMPONENT
(FOR COMPONENT STYLES)
  <NameComponent>
(FOR ANIMATIONS STYLES)
  ANIMATIONS
(FOR RESPONSIVE DESIGN)
  RESPONSIVE

***********************************
*/

/*
***********************************
START STYLES FOR
MAIN COMPONENT
***********************************
*/

.Container__Game {
  grid-column: span 3;
  background: var(--WeakPurple);
  padding: 10px;
  height: 100vh;
}

/*
***********************************
START STYLES FOR 
COMPONENT <LoginContent> 
***********************************
*/

/*
***********************************
START STYLES FOR 
COMPONENT <LoginContent> 
***********************************
*/

/*
***********************************
START STYLES FOR 
COMPONENT <LoginDetails> 
***********************************
*/

/*
***********************************
START ANIMATIONS
***********************************
*/

/*
***********************************
START RESPONSIVE DESIGN
***********************************
*/
@media (width <= 1000px) {
  .Container__Game {
    grid-column: span 3;
  }
}
