/*
***********************************
TO FIND THE STYLES QUICKLY, PRESS CTRL + F 
AND TYPE THE FOLLOWING:

(FOR MAIN CONTAINER COMPONENT)
  MAIN COMPONENT
(FOR RESPONSIVE DESIGN)
  RESPONSIVE

***********************************
*/

/*
***********************************
START STYLES FOR
MAIN COMPONENT
***********************************
*/

.Container {
  width: 1440px;
  min-height: 100vh;
  height: auto;
  margin: auto;
  background-image: var(--LinearGradient);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*
***********************************
START RESPONSIVE DESIGN
***********************************
*/

@media (width <=1440px) {
  .Container {
    width: 100%;
  }
}
@media (width <=500px) {
  .Container {
    background: var(--White);
  }
}
