.Container__Content--Information--Progress {
  min-height: 190px;
  height: 190px;
  padding: 15px 20px 20px 20px;
  background: var(--White);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShadow);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: 0.5s ease all;
}
.Container__Content--Information--Progress.Show {
  min-height: 615px;
  height: 615px;
}
.Container__Content--Information--Progress--Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Container__Content--Information--Progress--Header--Title {
  font-size: var(--H3);
  color: var(--StrongPurple);
  font-weight: 800;
  transform-origin: left;

  animation: loadingProgressTitle 1s forwards;
}
.Container__Content--Information--Progress--Header--See {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  color: var(--StrongPurple);
  transform: scale(0);

  animation: loadingProgressTitle 1s 0.1s forwards;
}
@-webkit-keyframes loadingProgressTitle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loadingProgressTitle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
