.DatingHistory {
  position: relative;
  width: 1024px;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: var(--White);
}
.DatingHistory__Container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.DatingHistory__Container--Title {
  font-size: var(--SubTittleFontSize);
  font-weight: bold;
  color: var(--StrongPurple);
  text-align: center;
}
.DatingHistory__Container--SubTitle {
  font-size: var(--SubTittleFontSize);
  font-weight: bold;
  color: var(--StrongPurple);
}
.DatingHistory__Container--Filters {
  display: flex;
  overflow: auto;
  gap: 10px;
}
.DatingHistory__Container--Filters--Button {
  background: var(--Transparent);
  height: 50px;
  border-radius: 50px;
  border: 2px solid var(--Transparent);
  outline: none;
  font-size: var(--NormalFontSize);
  color: var(--StrongPurple);
  padding: 0 20px;

  transition: 0.5s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.DatingHistory__Container--Filters--Button img {
  width: 20px;
}
.DatingHistory__Container--Filters--Button:hover {
  cursor: pointer;
  background: var(--WeakPurple);
  border-color: var(--StrongPurple);
  font-weight: bold;
}
.DatingHistory__Container--Filters--Button ion-icon {
  font-size: var(--IconFontSize);
}
.DatingHistory__Container--Dates {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (width < 1024px) {
  .DatingHistory {
    width: 100%;
  }
}
@media (width < 550px) {
  .DatingHistory__Container--Dates {
    grid-template-columns: repeat(1, 1fr);
  }
}
