.Container__Login {
  position: relative;
  width: 500px;
  height: auto;
  padding: 40px 20px 20px 20px;
  overflow: hidden;

  background: var(--White);
  box-shadow: var(--BoxShadow);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
  gap: 20px;

  animation: loadingContainerLogin 1s;
}
.Container__Login--Help {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: var(--StrongPurple);
  border: none;
  cursor: pointer;
  color: var(--White);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}
