.SelectHour__Container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.SelectHour__Title,
.SelectHour__Subtitle {
  text-align: center;
  font-size: var(--SubTittleFontSize);
  font-weight: bold;
  color: var(--StrongPurple);
}
.SelectHour__Subtitle {
  font-weight: normal;
  color: var(--Gray);
}
