@media (width <= 450px) {
  .Container__Content--Information--Medals {
    border-radius: 0;
  }
}
@media (width <= 350px) {
  .Container__Content--Information--Medals--Achieved {
    grid-template-columns: repeat(3, 1fr);
  }
  .Container__Content--Information--Medals.Show {
    min-height: 350px;
    height: 350px;
  }
}
