@media (width <=330px) {
  .Container__Login__Modal--Title {
    color: var(--White);
    font-size: var(--Normal);
    text-align: center;
    font-weight: 800;
    transition: 0.5s ease color;
  }

  .Container__Login__Modal--Details {
    font-size: 14px;
    color: var(--White);
    text-align: center;
    transition: 0.5s ease color;
  }
}
